In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
CSV_COLUMN_NAMES = ['SepalLength', 'SepalWidth',
                    'PetalLength', 'PetalWidth', 'Species']
path = '/home/dan/.keras/datasets/iris_test.csv'
data = pd.read_csv(path, names=CSV_COLUMN_NAMES, header=0)

In [3]:
data.head(5)

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.9         3.0          4.2         1.5        1
1          6.9         3.1          5.4         2.1        2
2          5.1         3.3          1.7         0.5        0
3          6.0         3.4          4.5         1.6        1
4          5.5         2.5          4.0         1.3        1

In [4]:
train_x, train_y = data, data.pop('Species')

In [ ]:
train_x.keys()

In [ ]:
for key in train_x.keys():
    print(key)

In [ ]:
def tmp(x):
    return x + 1

x = [1, 2, 3, 4, 5]

lambda:tmp, x

In [ ]:
#tf.enable_eager_execution()

my_feature_columns = []

for key in train_x.keys():
    my_feature_columns.append(tf.feature_column.numeric_column(key=key))
    

dataset = tf.data.Dataset.from_tensor_slices((train_x.values, train_y))

In [5]:
def train_input_fn(features, labels, batch_size):
    # This is input function for training
    dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

    return dataset.shuffle(1000).repeat().batch(batch_size)

In [31]:
dataset = train_input_fn(train_x, train_y, 10)
print(dataset)

<BatchDataset shapes: ({SepalLength: (?,), SepalWidth: (?,), PetalLength: (?,), PetalWidth: (?,)}, (?,)), types: ({SepalLength: tf.float64, SepalWidth: tf.float64, PetalLength: tf.float64, PetalWidth: tf.float64}, tf.int64)>

In [44]:
iterator = dataset.make_one_shot_iterator()
batch = iterator.get_next()

In [49]:
print(batch)

({'SepalLength': <tf.Tensor 'IteratorGetNext_4:2' shape=(?,) dtype=float64>, 'SepalWidth': <tf.Tensor 'IteratorGetNext_4:3' shape=(?,) dtype=float64>, 'PetalLength': <tf.Tensor 'IteratorGetNext_4:0' shape=(?,) dtype=float64>, 'PetalWidth': <tf.Tensor 'IteratorGetNext_4:1' shape=(?,) dtype=float64>}, <tf.Tensor 'IteratorGetNext_4:4' shape=(?,) dtype=int64>)

In [45]:
sess = tf.Session()

batch_ = sess.run(batch)

sess.close()

In [46]:
batch_[1]

array([2, 1, 0, 1, 1, 0, 1, 2, 2, 2])

In [47]:
batch_[0].keys()

dict_keys(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth'])

In [48]:
batch_[0]['SepalLength']

array([6.3, 6. , 5.5, 5.8, 5.6, 5.2, 5.5, 7.1, 6.7, 6.7])